<link href='http://fonts.googleapis.com/css?family=Sans+Serif:600,700,600italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Hind:400,500,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="app/styles/app.css" media="screen">

<h2 class="title">Markdown Editor</h2>

<section class="markdown">
    <h3>Markdown</h3>
  <div>
    {{textarea type="text" value=markdown cols="100" row="100" placeholder=""}}
  </div>
</section>

<section class="html">
  <h3>Html</h3>
  <div>
    {{showdown-addon markdown}}
  </div>
</section>
